.logo {
    padding: 10px;
    color: white;
    /* position: fixed; */
    top: 0;
    width: 100%; 
    z-index: 100; 
    height: 5vw;
    left: 250px;
  }
  
  .logo-text {
    margin: 0;
    font-size: 5vw;
  }